.footer{
    width: 100%;
    .layer-1{
        .container{
            position: relative;
        }
        h4{
            color: white;
        }
        .logo{
            position: absolute;
            top:10px;
            right: 5px;
        }
        padding: 10px;
        width: 100%;
        height: 150px;
        background-color: #20a402;
    }
    .layer-2{
        width: 100%;
        height: 50px;
        background-color: #54bd02;
    }
}
.paddig-top{
    height:50px;
}