<div class="paddig-top"></div>
<div class="footer">
  <div class="layer-1">
    <div class="container">
      <h4>ระบบติดตามการเพาะเลี้ยงจิ้งหรีดแบบอัตโนมัติ</h4>
      <h4>(smart cricket farming system)</h4>
      <h4 *ngIf="Auth.getAuthenticated">สวัสดี คุณ {{User.firstname}} {{ User.lastname}} ({{User.email}})</h4>
      <div class="logo">
        <a href="http://www.ubu.ac.th/">
          <img src="assets\images\ubulogo.png" width="80px">
        </a>
      </div>
    </div>
  </div>
  <div class="layer-2"></div>
</div>
