<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default shadow">
      <div class="panel-body">
        <h2 class="text-center">เมนูหลัก</h2>
        <hr>
        <div class="row hidden-text">
          <div class="col-md-12">
            <div class="Aligner">
              <div class="box-menu" [routerLink]="['/',Url.Dashboard]">
                <h2>
                  <i class="fas fa-chart-line"></i>
                </h2>
                <h4>กราฟสรุปผล</h4>
              </div>
              <div class="box-menu" [routerLink]="['/',Url.CreateSensor]">
                <h2>
                  <i class="fas fa-eye"></i>
                </h2>
                <h4>เพิ่มเซ็นเซอร์</h4>
              </div>
             <!-- <div class="box-menu" [routerLink]="['/',Url.HistorySensor]">
                <h2>
                 <i class="fas fa-history"></i>
                </h2>
                <h4>ประวัติอุปกรณ์</h4>
              </div> -->
              <div class="box-menu" [routerLink]="['/',Url.Setting]">
                <h2>
                  <i class="fas fa-cog"></i>
                </h2>
                <h4>ตั้งค่าอุปกรณ์</h4>
              </div>
              <div class="box-menu" [routerLink]="['/',Url.Profile]">
                <h2>
                  <i class="fas fa-user"></i>
                </h2>
                <h4>โปรไฟล์</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row show-text">
        <div class="col-sm-12">
          <div class="row" class="menu-hide">
            <div class="box-menu" [routerLink]="['/',Url.Dashboard]">
              <h2>
                <i class="fas fa-chart-line"></i>
              </h2>
              <h4>กราฟสรุปผล</h4>
            </div>
            <div class="box-menu" [routerLink]="['/',Url.Setting]">
              <h2>
                <i class="fas fa-cog"></i>
              </h2>
              <h4>ตั้งค่าเซ็นเซอร์</h4>
            </div>
            <div class="box-menu" [routerLink]="['/',Url.Profile]">
              <h2>
                <i class="fas fa-user"></i>
              </h2>
              <h4>โปรไฟล์</h4>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>
