.box-menu {
  float: left;
  width: 250px;
  padding: 10px;
  text-align: center;
  color: #039be5;
  margin: 10px;
  cursor: pointer;
  transition: all 0.5s;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  &:hover{
    color: #027cb7;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
  }
}

.Aligner {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}
.show-text{
  display: none;
}
@media only screen and (max-width: 600px) {
  .hidden-text {
      display: none;
  }
  .show-text{
    display: block;
  }
  .menu-hide {
    padding-left:25% ;
}
}
@media only screen and (max-width: 450px) {
  .menu-hide {
      padding-left:10% ;
  }
}
@media only screen and (max-width: 380px) {
  .menu-hide {
      padding-left:15% ;
  }
  .box-menu {
    width: 200px;
  }
}
@media only screen and (max-width: 340px) {
  .menu-hide {
      padding-left:5% ;
  }
  .box-menu {
    width: 200px;
  }
}