<div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body shadow">
          <h2 class="text-center">เปลี่ยนรหัสผ่าน</h2>
          <div class="col-md-6 col-md-offset-3">
            <form [formGroup]="FormChangePassword" (submit)="OnSubmit()">
              <div class="form-group">
                <label for="oldpassword">
                  <i class="fas fa-address-book"></i> รหัสผ่านเก่า:</label>
                <input type="password" class="form-control" id="oldpassword" formControlName="oldpassword">
                <validation [control]="FormChangePassword.controls['oldpassword']"></validation>
              </div>
              <div class="form-group">
                <label for="newpassword">
                  <i class="fas fa-address-book"></i> รหัสผ่านใหม่:</label>
                <input type="password" class="form-control" id="newpassword" formControlName="newpassword" #newpassword>
                <validation [control]="FormChangePassword.controls['newpassword']"></validation>
              </div>
              <div class="form-group">
                <label for="confirmpassword">
                  <i class="fas fa-address-book"></i> ยืนยันรหัสผ่าน:</label>
                <input type="password" class="form-control" id="confirmpassword" formControlName="confirmpassword" #confirmpassword>
                <validation [control]="FormChangePassword.controls['confirmpassword']"></validation>
              </div>
              <hr>
              <div class="text-right">
                <button type="submit" class="btn btn-success">
                  <i class="fas fa-key"></i> เปลี่ยน</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  