/* You can add global styles to this file, and also import other style files */

$main-text-color: #2C314F;
$error-color: #EF5350;
$success-color: #66BB6A;
$placeholder-color: #AAAAAA;
$main-color: #7ACDCF;

html,
body {
  font-family: 'Trirong', serif;
}

a {
  cursor: pointer;
  text-decoration: none !important;
  &:hover {
    color: #c8c8c8;
  }
}

.shadow {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
}

// For form control
.form-control {
  height: 40px;
  background-color: #F5F5F3;
  border: solid 1px #c0c0b4;
  box-shadow: none;
  font-size: 16px;
  font-weight: 400;
  color: $main-text-color;
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $placeholder-color;
    font-weight: 300;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $placeholder-color;
    font-weight: 300;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $placeholder-color;
    font-weight: 300;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: $placeholder-color;
    font-weight: 300;
  }
}

// For validation
@mixin ValidationFunction($setColor) {
  position: relative;
  .material-icons {
    position: absolute;
    top: 35px;
    right: 7px;
    color: $setColor;
    font-size: 19px;
  }
  validation {
    color: $setColor;
    display: block;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
  }
}

.form-group {
  .form-control {
    border: solid 1px #b5b5a6;
    box-shadow: none;
  }
  .form-control:focus {
    border: solid 1px #63c5c7;
    box-shadow: none;
  }
  validation {
    display: none;
  }
  &.has-error {
    .form-control {
      border-color: $error-color;
      color: $error-color;
      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $error-color;
        font-weight: 300;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: $error-color;
        font-weight: 300;
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: $error-color;
        font-weight: 300;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: $error-color;
        font-weight: 300;
      }
    }
    @include ValidationFunction($error-color);
  }
  &.has-success {
    @include ValidationFunction($success-color);
  }
  &.has-none {
    border-color: #F5F5F3;
  }
}

select.form-control {
  &,
  &:focus {
    color: #AAAAAA;
    font-weight: 300;
    box-shadow: none !important;
  }
  &[has-value="true"] {
    color: $main-text-color;
    font-weight: 400;
  }
}

.modal-header-success {
  font-size: 20px;
  color: #fff;
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #5cb85c;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-header-warning {
  font-size: 20px;
  color: #fff;
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #f0ad4e;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-header-danger {
  font-size: 20px;
  color: #fff;
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #d9534f;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-header-info {
  font-size: 20px;
  color: #fff;
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #5bc0de;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-header-primary {
  font-size: 20px;
  color: #fff;
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #428bca;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
